<!DOCTYPE html>
<html>
<head>
  <% content_for :title do %>
    <title> <%= @user.last_name %> Profile| Internship Program</title>
  <% end %>
</head>
<body>
  <div class="profileMessage">
    <p>
      Hi <%= full_name %> <br><br>
      This is your profile, where you can manage your personal information as well as communicate with <strong>RYAF Administration</strong>. It will be our pleasure to hear from you anytime. Remember we are here for you, we need to hear from as much as possible so that we can enhance the services we provide. Therefore, your input is to share with us your experience, worries or just tell us how you are personally developing. 
    </p><br>
    <p>
      <strong>PS</strong>: There is a <a href="<%= new_survey_path %>">survey</a> designed for at the beginning of each month that let us know you about internship you are taking. It should be details so we can have enough information and be able to help you throughout. However, the survey is monthly thing, in meanwhile you can reach out to us by clicking <em>Send Message to RYAF</em>. <br><br> <em>Please Scroll down to see your profile information</em>
    </p>
  </div>
</body>
</html>





  