<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

<div class="container">
  <div class="row">
    <section>
      <h2>Congratulation, You've successfully registered to RYAF.</h2>
      <hr>
      <h3>Next step:</h3>
      <p>Click on the below button and apply to CESB, if you've not yet done so!</p>
      <a href="" target="-blank">Apply to CESB</a>
    </section>
  </div>
</div>

</body>
</html>