<div>
  <div>
    <section>
      <div>
        <h1>Are you a university Graduate in Agriculture-related Major, and looking for an internship?</h1>
        <h3>RYAF (Rwanda Youth in AGribusiness Forum) will help one</h3>
      </div>
      <div>
        <a href="" class="btn btn-default btn-lg">Get Started</a>
      </div>
    </section>

    <section>
      <div>
        <img src="https://www.utexas.edu/sites/default/files/styles/utexas_hero_photo_image/public/hero-photos/commencement_2013_saturday_evening_37266.jpg?itok=mO4wdLKD" class="img-responsive">
      </div>
    </section>
  </div>
</div>