<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

  <div>
    <div>
      <article class="col-md-8 col-md-offset-1">

        <div class="tab personal">
          <div class="profile-heading">
            <h1>Personal Information</h1>
            <br>
          </div>
          <div class="tab profile-content">
            <p>First Name: Plante Josue</p>
            <p>Last Name: Niyomugenga</p>
            <p>Gender: Male</p>
            <p>ID N<sup>0</sup>: 26456205572052057</p>
            <p>Email: plantejosh1@gmail.com</p>
            <p>Telephone N<sup>0</sup>: +250789640745</p>
          </div>
        </div>


        <div class="tab residence">
          <div class="profile-heading">
            <h1>Residence Information</h1>
            <br>
          </div>
          <div class="profile-content">
            <p>Province: Kigali City</p>
            <p>District: Gasabo</p>
            <p>Sector: Jabana</p>
            <p>Cell: Bweramvura</p>
          </div>
        </div>

        <div class="tab education">
          <div class="profile-heading">
            <h1>Education  Information</h1>
            <br>
          </div>
          <div class="profile-content">
            <p>Bank Name: Kepler University</p>
            <p>Major: Business Management</p>
          </div>
        </div>

      </article>

      <aside class="col-md-2">
        <div class="side-tab date">
          <p>Date of Application:<br> on 12th, Jan 2016</p>
        </div>

        <div class="side-tab date">
          <p>Application Status:<br> Accepted</p>
        </div>

        <div class="side-tab date">
          <p>Monthly Survey</p>
          <a href="">Take Survey</a>
        </div>

        <div class="side-tab date">
          <a href="">Edit Profile</a>
        </div>

        <div class="side-tab date">
          <p>If you have not yet applied to CESB, apply now!</p>
          <a href="">Apply to CESB</a>
        </div>

      </aside>

    </div>
  </div>

</body>
</html>