<!DOCTYPE html>
<html>
<head>
  <% content_for :title do %>
  <title>Internship Program System</title>
  <% end %>

  <style type="text/css">
  .navbar-pages {
    display: none;
  }
</style>
</head>
<body >
  <!-- Header element -->
  <main>
    <section id="RYAF" class="programIntroduction">
      <div class="introduction-content">
        <header>
          <nav class="home-nav">
            <ul>
              <li><a href="#RYAF">Program</a></li>
              <li><a href="#Instruction">Instructions</a></li>
              <li><a href="#ContactUs"> Contact us</a></li>
            </ul>
          </nav>
        </header>
        <div class="parnt-main-content"> 
          <div class="welcome-main-content">

            <h1><strong>Welcome to RYAF Internship Program System</strong></h1>
            <hr>

            <p class="welcome-details">RYAF Internship Program System is a web based application designed to help Graduates from agriculture field studies to get internship opportunities very easily on the partnership with <a href="http://cesb.gov.rw/home/" target="_blank">CESB</a>. <br><br>With the system, RYAF records applicants information to be used during internship placement and further check-ins. And those information remain in RYAF system database. 
            </p>

            <div class="get-started-btn" align="center">
              <a class="btn btn-default" href="#Instruction">Get Started!</a>              
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- This is a section for instruction of how to use RYAF Internship system -->
    <section id="Instruction">
      <div class="instructions-content">
        <div class="up-content">          
        <p>
          RYAF works closely with CEBS and, for that, we are only concerned with the applicants who have completed CEBS Online Internship Application E-form, or willing to complete it now <span class="glyphicon glyphicon-hand-right"></span> <a href="http://cesb.gov.rw/online-services/internship-applications-e-form/" target="_blank">here</a>.
        </p>

        <p class="tipsOfSystem">
          <h4>Please note that:</h4>
          <ol>
            <li>
              You will not get internship placement when you are not in CEBS database
            </li>
            <li>
              You will need to fill in two registration forms before being a concern of RYAF
              <ul>
                <li>
                  CEBS registraction form <span class="glyphicon glyphicon-hand-right"></span> <a href="http://cesb.gov.rw/online-services/internship-applications-e-form/" target="_blank">Click here</a>
                </li>
                <li>
                  RYAF Internship application form <em>Check Sign up button</em>
                </li>
              </ul>
            </ol>
          </p>
          <p>
            We are concerned with issues of internship in agricultural related fields. Working with us grant a placement. We work to ensure the best, dreamed experience from the best farmers and collections around the country.
          </p>
        </div>

          <div class="row bottom-boxes" align="center">            
            <aside class="col-md-5 request-intern">
              <h4 style="font-weight: bolder;">Employers Side</h4>
              <p>
                There is a single intern request form to fill and wait a very short time while processing your request.
              </p>
              <a href="<%= new_employer_path %>" onclick="location.reload()" class="btn btn-default">Request Interns</a>
            </aside>

            <aside class="col-md-5 about-intern">
              <h4 style="font-weight: bolder;">Interns Side</h4>
              <p>
                Will use the system from the time of applying, getting internship update as well as the entire time doing internship so as to communicate with RYAF Administration for further assistance. 
              </p>
              <a href="<%= new_user_registration_path %>" class="btn btn-default">Sign up</a>
            </aside>
          </div>

        </div>
      </section>
    </main>

    <section id="ContactUs">
      <div class="contact-us-min">      
        <div class="contact-us-content">


          <h4>Contact Form</h4>
          <summary>
            <form>
              <fieldset>
                <div class="contact-input-row">

                  <label>Full Name: </label>
                  <input type="name" name="fname" placeholder="Eg. Joseph Mugwaneza" required="required"><br>
                </div>

                <div class="contact-input-row">
                  <label>Telephone:</label>
                  <input type="numeric" name="telephone" placeholder="eg. 0780000000 " required><br>
                </div>

                <div class="contact-input-row">                   
                  <label>Email Address: </label>
                  <input type="email" name="emailAddress" placeholder="Eg. mugwaneza@ryaf.rw"><br>
                </div>

                <div class="contact-input-row">                  
                  <label>Message</label>
                  <textarea rows="4" cols="30" name="messageDescription" placeholder="Type your message here....." required></textarea>
                </div>

              </fieldset>
              <div class="get-started-btn">                
                <button class="btn btn-default">Submit</button>
              </div>

            </form>
          </summary>
        </div>   
      </div>
    </section>
    <!-- this is the part designed for footer -->
    <footer>
      <ul>
        <li><a href="http://cesb.gov.rw/online-services/internship-applications-e-form/" target="_blank">Apply to CESB</a></li>
        <li><a href="#" target="_blank">RYAF Official Website</a></li>
        <li><a href="<%= new_user_registration_path %>">Internship System Signup</a></li>
        <li><a href="#RYAF">Scroll Top</a></li>
      </ul>
    </footer>
    <script type="text/javascript">
      
      // Select all links with hashes
$('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
      && 
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1500, function() {
          // Callback after animation
          // Must change focus!
          var $target = $(target);
          $target.focus();
          if ($target.is(":focus")) { // Checking if the target was focused
            return false;
          } else {
            $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
            $target.focus(); // Set focus again
          };
        });
      }
    }
  });
    </script>
  </body>
  </html>
