<% content_for :title do %>
    <title>Welcome | Internship Program</title>
<% end %>

<style type="text/css">
  .mynavbar {
    display: none;
  }
</style>

<body class="home-back">

 <nav class="navbar" style="margin-top:-50px;margin-right: 50px;">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="users/sign_up" class="btn btn-sm btn-default hvr-outline-in">Sign Up</a></li>
      <li><a href="users/sign_in" class="btn btn-sm btn-default hvr-outline-in">Sign In</a></li>
    </ul>
  </div>
</nav> 

<section class="row home" align="center" style="vertical-align: middle;">
  <div class="col-md-8 col-md-offset-2">        
    <div class="home-caption">
      <h2>Are you a university Graduate in Agriculture-related Major, and looking for an internship?</h2>
      <h3>RYAF (Rwanda Youth in AGribusiness Forum) will help you get one</h3>
    </div>
    <div align="center" style="margin-top: 10px;">
      <a href="users/sign_up" class="btn btn-default btn-lg hvr-icon-forward">Get Started</a>
    </div>
  </div>
</section>
</body>
