<% content_for :title do %>
    <title>Edit Request Form| Internship Program</title>
<% end %>
<article class="edit-employer-note">
  <p>
    Please check and make sure that you are submiting right information.
  </p>
</article>
<%= render 'form' %>