<% content_for :title do %>
    <title>Request Form| Internship Program</title>
<% end %>
  <article>
    <h1>Employer Request E-form</h1>
    <p>
      Thank you for expressing interest for hiring interns, form whom you will benefit for the talent, energy and enthusiasm to develop your future workforce, through RYAF you will be able to hire the right persons who fit the position. Please fill out this application by Wednesday, December, 15, 2017.  You will be informed of whether you have been accepted or not by …….. 2017. 
      </p>
      <p>
      If you are accepted to hire interns you will be able to provide for them some stipend amount of transport. If you have any question, please contact the RYAF-ICT department on + 250783017178 or send an email at kayitare1203@gmail.com.
    </p>
  </article>
<%= render 'form' %>