

<link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<script type="text/javascript" src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-12">
        <div class="well profile" id="agentbox">
          <div class="col-md-12">
                <h2> <strong>Admin name</strong>: <%= current_user.first_name%> <%= current_user.last_name%></h2>            
            </div>   

            <div class="col-md-4 text-center">
                <figure>
                    <img src="" alt="" class="w3-circle">
                </figure>
            </div>
        </div>            
      
      </div>
<div class="row" id="admintable">
    <table class="table table-bordered" id="test">
        <thead>
            <tr><th>Survey Title</th>
                <th>Show Action</th>                        
            </tr>
        </thead>
        <tbody>
           <% @surveys.reverse_each do |survey| %>
      <tr>
        <td><%= link_to survey.name, survey%></td>
        <td><%= link_to "Show", survey_path(survey) %></td>
        <!-- <td><%#= link_to "Edit", edit_survey_path(survey) %></td>
        <td><%#= link_to "Delete", "/surveys/#{survey.id}", method: :delete %></td> -->
      </tr>
      <% end %>
        </tbody>
    </table>

</div>
  </div>  

</div>
</div>











