/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */


html body {
  font-family: 'Rozha One', serif;
}

 /*btn icon back*/
.hvr-icon-back {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-left: 2.2em;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.hvr-icon-back:before {
  content: "\f137";
  position: absolute;
  left: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-back:hover:before, .hvr-icon-back:focus:before, .hvr-icon-back:active:before {
  -webkit-transform: translateX(-4px);
  transform: translateX(-4px);
}



/* Icon Forward */
.hvr-icon-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.hvr-icon-forward:before {
  content: "\f138";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-forward:hover:before, .hvr-icon-forward:focus:before, .hvr-icon-forward:active:before {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}



/* Outline In */
.hvr-outline-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.hvr-outline-in:before {
  pointer-events: none;
  content: '';
  position: absolute;
  border: #e1e1e1 solid 4px;
  top: -16px;
  right: -16px;
  bottom: -16px;
  left: -16px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.hvr-outline-in:hover:before, .hvr-outline-in:focus:before, .hvr-outline-in:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  opacity: 1;
}

/*landing Page*/
.home-back {
  background-image: url(https://www.utexas.edu/sites/default/files/styles/utexas_hero_photo_image/public/hero-photos/commencement_2013_saturday_evening_37266.jpg?itok=mO4wdLKD);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Rozha One', serif;
}

.home-caption {
  background-color: white;
  opacity: 0.6;
  text-align: center;
  vertical-align: middle;
  margin-top: 20px;
  padding: 20px;
  border-radius: 1px;
}

.home-caption h2 {
  font-size: 60px;
  color: #0883be;
}

.home-caption h3 {
  color: #5a6e1b;
}

a, .btn {
  background-color: transparent;
  border-radius: 30px;
  width: 200px;
  color: white;
}
a, .btn:hover {
  background-color: #495c0d;
  border: none;
  color: white;
}

.home-back nav li a {
  border-radius: 30px;
  width: 100px;
  margin-right: 20px;
  background-color: transparent;
  color: white;
}

.home-back nav li a:hover {
  background-color: #495c0d;
  border: none;
  color: white;
}
/*landing page*/




/* signup-circle */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}


.signup {
  font-size: 100%;
    font-family: 'Lato', sans-serif;
    background: url(http://cdn30.us1.fansshare.com/image/education/education-knowledge-powerpoint-ppt-hd-wallpaper-721601665.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
}
.signup h1,h2,h3,h4,h5,h6,input,p,a,select{
  /*font-family: 'Lato', sans-serif;*/
  margin:0;
}
.signup ul,label{
  margin:0;
  padding:0;
}
.signup a:hover, a{
  text-decoration:none;
}
/*-- main --*/
.agileits_copyright{
  text-align: center;
}
.agileits_copyright p{
  font-size: 1em;
    color:#fff;
    line-height: 1.8em;
    padding: 0 1em;
    text-transform: capitalize;
  margin-top: 2em;
}
.agileits_copyright p a {
    color:#fff;
    text-decoration: underline;
}
.agileits_copyright p a:hover{
  color:#fff;
}

.w3layouts_main h1{
  text-align: center;
    color: white;
    font-size: 2em;
    margin: 1em 0 .5em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
}

.signup form.agileits_w3layouts_form {
    padding: 0 4em;
}


/*https://p.w3layouts.com/demos_new/11-02-2017/circle_sign_up_form-demo_Free/1065487016/web/images/banner.jpg*/