// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.report-form {
    width: 60%;
    margin-left: 20%;
    margin-top: 40px;
}

.report-form textarea {
    width: 100%;
    height: 60px;
}

.btn-danger {
    background-color: red;
    border-radius: 0px;
    margin-top: -5px;
}

a.btn.btn-danger.remove_nested_fields_link {
    float: right;
}

fieldset.nested_fields {
    margin: 10px 0;
}

.report-form fieldset.input-box {
    box-shadow: 0 0 10px 0 #b3a8a8;
    padding: 10px;
    margin: 20px 0;
    background-color: #f7f7f7;
}

.report-form summary {
    background: #9dcee8;
    padding: 7px 20px;
}

.report-form summary {
    background: #9dcee8;
    padding: 7px 20px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}

.report-form details a.btn-secondary {
    float: right;
}

.btn-tertiary {
  background: #9dcee8;
}

.btn-tertiary:hover {
  background: #a2eaba;
}

.btn-tertiary {
    background: #9dcee8;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border-radius: 0;
    padding: 7px 30px;
}