// Place all the styles related to the surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// survey table

#admintable{
  // margin-right: 400px;
  font-size: 17px;
  margin-top: -30px;
  padding: 10px;
  background-color: white;
  height: auto;
  font-family: 'EB Garamond', serif;

}

tr:hover {
   background-color: #ffff99;
}

