// Place all the styles related to the surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// survey table

#admintable{
  // margin-right: 400px;
  font-size: 17px;
  margin-top: -30px;
  padding: 10px;
  background-color: white;
  height: auto;
  font-family: 'EB Garamond', serif;

}

tr:hover {
   background-color: #ffff99;
}

.col-md-12 h2 strong {
  font-style: italic;
  font-weight: bold;
}

.profileMessage {
  border: 2px solid;
  border-radius: 10px;
  margin: 20px ;
  color: black;
  background-color: #d0dbda;
 
}

.profileMessage strong {
  font-size: 16px;
  font-weight: bold;
  font-family: inherit;
  color: purple;
}

.profileMessage a {
  color: blue;
  text-decoration: none;
}

.profileMessage a:hover {
  color: black;
  text-decoration: none;
  font-size: 20px;

}

.profileMessage em {
  font-style: italic;
  font-weight: bold;
}